@import './common.scss';

.content{
    width: 100%;
    padding: 10px 0;
    .tileGroup{
        width: 100%;
        padding: 5px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.tile{
    border: 1px solid gray;
    width: percentage(1/1) - 2% ;
    padding: 2%;
    margin:1%;
    >div:not(:first-child) {
        margin-top: 10px;
    }
 }

@media (min-width: 800px){
    .tile{
        width: percentage(1/2) - 3%;
    }
}