@import './common.scss';

.content{
    width: 100%;
    padding: 10px 100px;
    .tileGroup{
        width: 100%;
        padding: 5px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.tile{
    border: 1px solid gray;
    min-width: percentage(1/1) - 4% ;
    padding: 2%;
    margin:20px;
    >div:not(:first-child) {
        margin-top: 10px;
    }
 }

@media (min-width: 800px){
    .tile{
        min-width: percentage(1/2) - 4%;
    }
}