html {
  height: 100%; }
  html body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100%; }
    html body #root {
      height: 100%; }

* {
  box-sizing: border-box; }

button {
  height: 30px; }

.App {
  display: flex;
  flex-direction: column;
  height: 100%; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header-footer {
  flex: none;
  justify-content: center;
  background-color: #222;
  padding: 20px;
  color: white;
  text-align: center; }

.App-content {
  flex: 1;
  padding: 20px 40px;
  font-size: large; }

.App-title {
  font-size: 1.5em; }

.Home .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .Home .title h2 {
    display: inline-block;
    margin-right: 20px; }

.Home .content {
  width: 100%;
  padding: 10px 0; }
  .Home .content .tileGroup {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }

.Home .tile {
  border: 1px solid gray;
  width: 98%;
  padding: 2%;
  margin: 1%; }
  .Home .tile > div:not(:first-child) {
    margin-top: 10px; }

@media (min-width: 800px) {
  .Home .tile {
    width: 47%; } }

.Search .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .Search .title h2 {
    display: inline-block;
    margin-right: 20px; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
